@import "bulma/css/bulma.css";
@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/solid.css";

:root {
  --color-background: #fff;
  --color-boxes: #e6ebf0;
  --color-text: #2c3e50;
  --color-text-hint: #507192;
  --color-text-hint-hover: #67a2dd;
  --size-font-info: 14pt;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.button.is-ghost {
  color: var(--color-text-hint);
}
.button.is-ghost:hover {
  text-decoration: none;
  color: var(--color-text-hint-hover);
}
