@mixin box {
  background-color: var(--color-boxes);
  border-radius: 3px;
  padding: 1em;
}

@mixin heading {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 12pt;
  color: var(--color-text-hint);
}