name: Deploy Github Pages
on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master

      - name: Create Node Environment
        uses: actions/setup-node@v1
        with: 
          node-version: 22.x
      
      - name: Install and build project
        run: |
          npm clean-install
          npm run build-only
      - name: Deploy
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: gh-pages
          FOLDER: dist
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}